* {
    font-family: Tahoma;
}

body {
    background-color: lightblue;
    color: darkblue;
}

h1.subject {
    text-align: center;
}


table.product{
    border-collapse: collapse;
    width: 100%;
}

div.container{
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}